allennlp
nltk
spacy>=3.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz#egg=en_core_web_sm

# allennlp==2.1.0
# nltk==3.6.1
# spacy==3.4.4