# Packages required for our method
allennlp==2.10.1
allennlp-models==2.10.1
typing-extensions<=4.5.0
spacy
rouge-score

# Should be already included as sub-dependencies in other tools, e.g., AllenNLP
nltk
numpy
scipy
tqdm
transformers>=4.6